/*============ responsive css============ */
@media screen and (min-width: 992px) {
  .navbar-icon {
    text-align: right;
  }

  .navbar-collapse {
    order: 1;
  }

  .navbar-brand {
    order: 1;
    text-align: center;
  }

  .navbar-toggler,
  .navbar-icon,
  .navbar-brand {
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 991px) {
  .navbar > .navbar-wrapper {
    flex-direction: row-reverse;
  }
  section.hero {
    padding: 101px 0px;
  }
  .hero-content h1 {
    font-size: 50px;
    padding: 20px 0px;
  }
  .hero-content h3 {
    font-size: 25px;
  }
  .hero-bg {
    height: auto;
  }

  .categoris {
    padding: 40px 0 40px 0px;
    text-align: center;
  }
  section#product,
  section#promo {
    padding: 40px 0;
  }
}
